/*quiz page styles*/
.hmpcme-quiz-form .js-form-item {
	margin: 0 0 15px 0;
	font-size: 14px;
	cursor: pointer;
}

.hmpcme-quiz-form label{
	margin-left: 8px;
}

.hmpcme-quiz-form .type-likert label{
	float: left;
	line-height: 10px;
	margin: 6px 6px 0;
}

.hmpcme-quiz-form input {
	vertical-align: top;
	margin: 6px 6px 0;
	float: left;
}

.hmpcme-quiz-form .type-likert input {
	float: none;
}

.hmpcme-quiz-form .type-multiple_choice:after {
	clear: both;
	content: ' ';
	height: 1px;
}

@media(min-width: 768px) {
	.hmpcme-quiz-form .type-multiple_choice .fieldset-wrapper > div {
		display: flex;
		flex-wrap: wrap;
	}
	.hmpcme-quiz-form .type-multiple_choice .js-form-item {
		flex: 0 50%;
	}
}


/* Quiz Admin Styles */
#block-hmpcmecoursemanagemenu ul {
	margin: 15px 5px;
	padding: 0;
	border-top: 1px dashed #afafaf;
	border-bottom: 1px dashed #afafaf;
}

#block-hmpcmecoursemanagemenu ul li {
	list-style: none;
	display: inline-block;
	margin: 6px;
}

#block-hmpcmecoursemanagemenu ul li a,
#block-hmp-cme-content a.button {
	display: block;
	padding: 4px 8px;
	border: 2px solid #afafaf;
	background: #EEEEEE;
	color: navy;
	font-size: 12px;
}
#block-hmp-cme-content a.button {
	margin: 6px;
	display: inline-block;
}
#block-hmpcmecoursemanagemenu ul li a:hover,
#block-hmp-cme-content a.button:hover {
	background: navy;
	color: #EEEEEE;
	text-decoration: none;
}
#block-hmp-cme-content .tabledrag-toggle-weight-wrapper {
	display: none;
}

.hmpcme-course-manage-certificate table input {
	padding: 4px;
	width: 100%;
}

a.tabledrag-handle .handle {
	width: 24px;
	height: 24px;
}

#hmpcme-add-to-cart-form {
	padding: 12px;
	margin: 15px 0;
	border: 2px solid #ed5;
	background: #fffce5;
}

#edit-course-steps {
	table-layout: unset;
	min-width: 850px;
	overflow-x: scroll;
}

#attempt-submission > li,
#hmpcme-quiz-form  fieldset {
	list-style: decimal;
    margin: 10px 0;
    border-bottom: 1px solid #EEEEEE;
    padding: 10px 0;
}

#attempt-submission >li ul >li,
#hmpcme-quiz-form >li ul >li {
	list-style: upper-alpha;
}


#course-progress-bar {
		width: 55%;
		border-radius: 5px;
		background: #EEEEEE;
		height: 32px;
		padding: 0;
		margin: 25px auto;
}
#course-progress-bar a{
		text-decoration: 	none;
		transition: linear 0.25s;
}

#course-progress-bar-current a{
		display: block;
		float: left;
		width: 75%;
		background: #afafaf;
		color: #fff;
		height: 32px;
		text-align: center;
		font-size: 16px;
		font-weight: bold;
		margin: 0;
		padding: 0;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
}
#course-progress-bar-current a:hover {
	background: #EEEEEE;
	color: blue;
}

#course-progress-bar-next a{
	display: block;
		float: left;
		width: 25%;
		background: green;
		color: #fff;
		height: 32px;
		text-align: center;
		font-size: 16px;
		font-weight: bold;
		padding: 0;
		margin: 0;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
}
#course-progress-bar-next a:hover {
	background: #EEEEEE;
	color: green;
}