/*sidebar styles*/
#sidebar {
	margin: 0 0 15px 0;
  max-width: 360px;
}
#sidebar >div:after {
  content: ' ';
  height: 25px;
  width: 100%;
  display: block;
}

/*course nav styles*/
#block-hmpcmecourseprogress-2 {
	display: none;
}

ul#course-progress {
	margin: 0;
	padding: 12px;
	width: 100%;
}

ul#course-progress li a:hover {
	text-decoration: none;
}

ul#course-progress li {
	list-style: none;
    width: 100%;
    background: #fff;
    margin-bottom: 5px;
    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: none;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    padding: 0 0 0 15px;
}

ul#course-progress li a {
	display: inline-block;
	color: #1C2F72;
	width: 100%;
}

ul#course-progress li:hover {
	box-shadow: 2px 2px rgba(0, 0, 0, .5);
}

ul#course-progress li.progress-item a {
	width: calc(100% - 28px);
}

ul#course-progress li#course-home a {
	width: 100%;
}

ul#course-progress li.inactive-item:before {
   content: '';
   display: inline-block;
   width: 13px;
   height: 13px;
   margin: 0 15px 0 0;
   -moz-border-radius: 50%;
   -webkit-border-radius: 50%;
   border-radius: 50%;
   background-color: #6c757d;
}

ul#course-progress li.active-item:before {
   content: '';
   display: inline-block;
   width: 13px;
   height: 13px;
   margin: 0 15px 0 0;
   -moz-border-radius: 50%;
   -webkit-border-radius: 50%;
   border-radius: 50%;
   background-color: #f0ad4e;
}

ul#course-progress li.pass:before {
   content: '';
   display: inline-block;
   width: 13px;
   height: 13px;
   margin: 0 15px 0 0;
   -moz-border-radius: 50%;
   -webkit-border-radius: 50%;
   border-radius: 50%;
   background-color: #28a745;
}

ul#course-progress li.fail:before {
   content: '';
   display: inline-block;
   width: 13px;
   height: 13px;
   margin: 0 15px 0 0;
   -moz-border-radius: 50%;
   -webkit-border-radius: 50%;
   border-radius: 50%;
   background-color: #dc3545;
}

/*course nav responsive styles*/
@media(min-width: 768px) {
	#block-hmpcmecourseprogress {
		display: none;
	}
}

@media(min-width: 998px) {
	#sidebar #block-hmp-cme-hmpcmecourseprogress {
		display: block;
		border: 1px solid #CCCCCC;
	}
}