<div id="header-wrapper" class="pColor">
	<section id="header" class="container">
		<div id="header-left" class="col-sm-8">
			    <div id="logo"><a href="/">
			    	<img src="{{brand_logo}}"/>
			    </a></div>
			</div>
			<div id="header-right" class="col-sm-4">
				<a class="fColor" href="/user/login?destination=" id="link-login">Login</a>
				<a class="fColor" href="/user/register?destination=" id="link-register">Register</a>		  	
			</div>
		</div>
	</section>
</div>
<div class="sColor" id="header-border"></div>


<section id="main" class="container">
	<section id="course-nav-mobile">{{ page.course_nav_mobile }}</section>
	<div id="page-content" class="col-sm-8">
		{{ page.content }}
	</div>
	<div id="sidebar" class="col-sm-4">
		{{ page.aside }}
	</div>
</section>